// Настройка сетки
$dd-system-classPrefix: '';
$dd-grid-columns: 12;
$dd-grid-gutterContainer: 20px;
$dd-grid-gutterHorizontal: 20px;
$dd-grid-gutterVertical: 20px;
$dd-responsive-breakpoints: (
		xs:(
				cutoff: 0,
				containerWidth: 100%,
				spaceScale: 0.5,
		),
		sm:(
				cutoff: 544px,
				containerWidth: 100%,
				spaceScale: 0.5,
		),
		md:(
				cutoff: 768px,
				containerWidth: 100%,
				spaceScale: 0.75,
		),
		lg:(
				cutoff: 992px,
				containerWidth: 100%,
				spaceScale: 1,
		),
		xl:(
				cutoff: 1200px,
				spaceScale: 1,
				containerWidth: 1180px,
		),
) !default;

// Settings for fonts
$font-default: '';
$font-second: '';

//Default font size
$fontSize: 18px;


// Color schema
$dd-color-palette: (
	primary: #0f62a9,
	textGray: #4c4c4c,
	brightPrimary: #188ac1,
	splashy: #ff4e00,
	default: #666666,
	mainGray: #f3f3f3,
	secondaryGray: #ebebeb,
	clear: #fff,
);

// Default color
$dd-color-default: secondaryGray;

// Misc
$time: .25s; // Таймер для transition

// Settings for elements form
$dd-form-fontFamily: $font-default;
$dd-form-fontSize: 1em;
$dd-form-lineHeight: 1.2;
$dd-form-height: 2.5em;
$dd-form-borderRadius: 2px;
$dd-form-inputColor: #333;
$dd-form-inputPlaceholderColor: rgba($dd-form-inputColor, 0.3);
$dd-form-inputBackgroundColor: #fff;
$dd-form-inputBorderColor: #d1d2d3;


//include main.scss
@import '../../../node_modules/divo-divnoe/src/lib/sass/main.scss';

* {
	box-sizing: border-box;
};


html, body {
	height: 100%;
	font-size: $fontSize;
	font-family: $font-exo;
	color: colorPalette(textGray);
	line-height: 1.2;
};


body {
	overflow-x: hidden; // Фикс горизонтальной прокрутки на macOS
	background-color: #f3f3f3;
};

// Components
@import '../components/fonts/fonts.scss';
@import 'includeComponents-lock.scss';


// Pages
